body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  display: block;
  margin: 20px auto 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding: 9px 3px 9px 9px;
  border-radius: 12px;
  background-color: #f75757;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 2px;
}
h3 {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 10px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 18px;
  font-family: Roboto, sans-serif;
  font-size: 39px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
}
a {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  float: none;
  color: #00e;
  text-align: center;
}
.button {
  display: inline-block;
  width: auto;
  margin-left: auto;
  padding: 7px 0px;
  float: none;
  clear: none;
  border-radius: 0px;
  background-color: transparent;
  direction: ltr;
  font-family:'Fontawesome webfont', sans-serif;
  color: rgba(69, 69, 69, 0.61);
  font-size: 35px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  list-style-type: none;
}
.button:hover {
  color: #454545;
}
.button.hire {
  display: block;
  width: 212px;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  background-color: #009641;
  color: white;
  text-align: center;
}
.main-pic {
  display: block;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  border-radius: 103px;
}
.pic-head {
  margin-top: 10px;
  margin-bottom: 1px;
  font-family: Inconsolata, monospace;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
.pic-sub {
  width: 210px;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  padding: 9px;
  border: 0px solid black;
  border-radius: 0px;
  background-color: rgba(252, 58, 58, 0.56);
  font-family: Roboto, sans-serif;
  color: #fcfcfc;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.sub-con {
  padding-top: 0px;
}
.button-con {
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}
.about-me {
  padding: 25px 0px;
}
.about-head {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family:'Fontawesome webfont', sans-serif;
  color: black;
  font-size: 27px;
}
.line {
  display: inline-block;
  margin-top: 20px;
  padding-top: 2px;
  border-top: 3px solid #bdb3b3;
}
.line.hire {
  display: inline-block;
  width: 75%;
  height: 1px;
  max-height: 1px;
  min-height: 1px;
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 1px;
  padding-left: 0px;
  float: none;
  font-size: 14px;
}
.column {
  display: block;
  margin-right: -4%;
  padding-right: 3px;
}
.footer {
  margin-top: 20px;
  background-color: #c7c7c7;
}
.who-text {
  padding: 5px 26px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
}
.hire-me {
  position: relative;
  left: 1px;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: block;
  margin-top: 11px;
  margin-right: auto;
  margin-left: auto;
}
.icon-color {
  margin-left: 3px;
  padding: 0px;
  font-family:'Fontawesome webfont', sans-serif;
  color: #f73e3e;
  font-size: 28px;
}
.footer-text {
  padding: 21px;
  font-family: Exo, sans-serif;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
}
.con {
  display: block;
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
.none {
  display: inline-block;
  text-decoration: none;
}
.services-row {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
}
.who-div {
  padding-right: 27px;
  padding-left: 27px;
}
.services-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
.services-head {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:'PT Sans', sans-serif;
  font-size: 27px;
  line-height: 23px;
  font-weight: 700;
  text-align: center;
}
.services-text {
  text-align: center;
}
.hire-p {
  font-size: 22px;
  line-height: 28px;
  text-align: left;
}
.hire-icons {
  display: inline-block;
  margin: 7px;
  padding: 0px;
}
.hire-img {
  display: block;
}
.hire-text {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
}
.head3-resume {
  margin-top: 16px;
  margin-bottom: 0px;
  line-height: 19px;
}
.year-text {
  color: rgba(51, 51, 51, 0.49);
  line-height: 15px;
}
.resume-text {
  line-height: 21px;
}
.resume-div {
  margin-bottom: 41px;
  margin-left: 0px;
  padding: 15px 26px 26px 14px;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0.23);
  border-radius: 24px;
}
.resume-img {
  padding-top: 89px;
}
.jquary {
  width: 70%;
  font-weight: 400;
}
.html {
  width: 90%;
}
.design {
  width: 70%;
}
.yomen {
  width: 85%;
}
.javascript {
  width: 85%;
}
.node-js {
  min-width: 90%;
}
.php {
  width: 70%;
}
.jason {
  width: 70%;
}
.social-icons {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 0px;
}
@media (max-width: 991px) {
  p {
    font-size: 33px;
  }
  .about-head {
    margin-right: 0px;
    padding-right: 0px;
  }
  .line.hire {
    width: 35%;
  }
  .who-text {
    display: block;
  }
  .con {
    width: 800px;
    max-width: 800px;
  }
  .services-head {
    font-size: 23px;
  }
}
@media (max-width: 767px) {
  p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 27px;
  }
  .who-text {
    font-size: 14px;
  }
  .con {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 479px) {
  .con {
    width: 100%;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype'), url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}